@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #ffd5c4;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #ff8c00;
  border-radius: 50px;
}
.spinner {
  border: 2px solid #ffb050;
  border-top: 4px solid #ff8c00;
  width: 40px;

  height: 40px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning > i {
  font-size: 30px;
  color: #ff8c00;
  animation: spin 1s linear infinite;
}

.pizzaSpin {
  animation: spin 3s linear infinite;
}
